{% extends "layout.html" %}

{%block content %}
    <h1><a href= "/" > Stocks ></i>
        <i class = "angle double right icon"></i>
        {{strategy.name}}
    </h1>


<h2> Stocks </h2>


<form method="post" action="/apply_strategy">
    <select name="strategy_id">
      {% for strategy in strategies %}
      <option value="{{strategy.id}}">{{strategy.name}}</option>

      {% endfor %}
    </select>

    <input type="hidden" name="stock_id" value="{{stock.id}}" />
    <input type="submit" value="Apply Strategy" />
  </form>








<table class ="ui striped table">
    <thead>

        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Current Strategies</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}

    <tr> <button type="button">Click Me!</button>
        <td>{{stock.symbol}} </td>
        <td>{{stock.name}}</td>
        <td>{{stock.strategy_id}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
